<div class="faq">
<h2 class="blue" (click)=toggleDisplay1()>Pourquoi Tuyaubet ?</h2>

<!-- <ul *ngIf = "!isShow1">
    <li>Pour mieux parier</li>
    <li>pour partager les supertuyaux entre membres</li>
    <li>pour récompenser ceux qui dénichent ces supertuyaux en leur offrant des freebets chez notre partenaire</li>
    <li>pour recevoir l'information rapidement via e-mail</li>
</ul> -->
<ul *ngIf = "!isShow1">
    <li>Pour concentrer les meilleures informations.</li>
    <li>Pour récompenser ceux qui dénichent ces supertuyaux en leur offrant des freebets chez notre partenaire.</li>
</ul>
<h2 class="blue" (click)=toggleDisplay5()>Qui sommes-nous ?</h2>
<ul *ngIf = "!isShow5">
    <li>Des parieurs avec plus de 20 ans d'expérience.</li>
    <li>Anciens membres actifs du forum planete1N2 où existait une catégorie "L'ET : l'énorme tuyau" avec un trés fort taux de réussite.</li>
</ul>
<!-- <h2 class="blue" (click)=toggleDisplay2()>Combien de supertuyaux vais-je recevoir ?</h2>
<div *ngIf = "!isShow2">
    <p>Contrairement aux pages de pronostics, nous ne nous engageons pas sur un nombre de supertuyaux envoyés à nos membres.</p>
    <p>L'objectif ici n'est pas de satisfaire une addiction mais de gagner de l'argent.</p>
</div>

<h2 class="blue" (click)=toggleDisplay3()>Pourquoi le prix des abonnements est amener à augmenter ?</h2>

<ul *ngIf = "!isShow3">
    <li>Pour ne pas être trop nombreux et ainsi ne pas voir les côtes chuter rapidement après envoi aux adhérents.</li>
    <li>Pour encore mieux récompenser les tuyauteurs (freebets et autres cadeaux).</li>
</ul> -->

<h2 class="blue" (click)=toggleDisplay4()>Comment transmettre mon supertuyau ?</h2>
<ul *ngIf = "!isShow4">
    <li>Clique sur "j'ai un supertuyau" en page principale et renseigne les différents champs (e-mail, sport, évènement, informations et lien qui confirment le tuyau).</li>
</ul>

<h2 class="blue" (click)=toggleDisplay7()>Critères de validation d'un supertuyau</h2>
<ul *ngIf = "!isShow7">
    <li>Premier à transmettre l’information.</li>
    <li>Au moins 1h30 avant l'évènement (les tuyaux de dernière minute seront tout de même étudiés dans la limite du possible).</li>
    <li>Le tuyau est significatif et fait que la côte proposée par le bookmaker est totalement inadaptée
        (blessures, COVID, motivations opposées,
        erreurs de côtes…).</li>
    <li>L’information est complète avec un lien confirmant les dires de l’utilisateur.</li>
    <li>Le tuyau concerne un évènement disponible sur un site agréé ARJEL.</li>
</ul>

<h2 class="blue" (click)=toggleDisplay6()>Quand serai-je récompensé ?</h2>
<ul *ngIf = "!isShow6">
    <li>Notre équipe te recontactera rapidement suite à ton envoi.</li>
    <li>Si les critères d'un supertuyau sont respectés, tu seras récompensé d'un freebet chez notre partenaire sous 7 jours.</li>
</ul>




<!-- <h2 class="blue" (click)=toggleDisplay7()>Dois-je forcément être inscrit pour envoyer un supertuyau ?</h2>
<div *ngIf = "!isShow7">
    <p>Non ce n'est pas obligatoire. Nous avons ton e-mail pour te recontacter. L'inscription sera nécessaire par la suite, pour recevoir ton freebet chez notre partenaire.</p>
</div> -->

<h2 class="blue" (click)=toggleDisplay8()>Je ne reçois pas d'e-mails de Tuyaubet.</h2>
<ul *ngIf = "!isShow8">
    <li>S'ils ne sont pas dans ta boite de réception, tu les retrouveras dans les "spams" ou "courriers indésirables".
         Clique sur "déplacer le message" vers la boite de "réception". Ainsi tu ne rateras aucun de nos e-mails à l'avenir.
    </li>
</ul>
</div>