<p>Déja membre ?</p>
<!-- connection membre -->
<form>
    <div class="mb-3">
        <label for="email_utilisateur" class="form-label">E-mail</label>
        <input [(ngModel)]="user.user_email" type="text" class="form-control" id="email_utilisateur_login" name="email_utilisateur_login">
    </div>
    <div class="mb-3">
        <label for="mdp_utilisateur" class="form-label">Mot de passe</label>
        <input [(ngModel)]="user.user_mdp" type="password" class="form-control" id="mdp_utilisateur_login" name="mdp_utilisateur_login">
    </div>
<p>mot de passe oublié</p>
    <button *ngIf="!authStatus" (click)="onSignIn()"> Se connecter</button>
</form>

<p>Pas encore membre ?</p>
<!-- inscription membre -->
<form (ngSubmit)="onSubmit(f)" #f="ngForm"> 
    <div class="mb-3">
      <label for="email_utilisateur" class="form-label">Votre email</label>
      <input type="email" class="form-control" id="email_utilisateur" name="email_utilisateur" ngModel required email>  
    </div>
    <div class="mb-3">
        <label for="pseudo_utilisateur" class="form-label">Pseudo</label>
        <input type="text" class="form-control" id="pseudo_utilisateur" name="pseudo_utilisateur" ngModel required>
    </div>
    <div class="mb-3">
        <label for="mdp_utilisateur" class="form-label">Mot de passe</label>
        <input type="password" class="form-control" id="mdp_utilisateur" name="mdp_utilisateur" ngModel required minlength=8>
        <div id="mdp_help" class="form-text">8 caractères minimum</div>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="check_CGU" name="check_CGU" ngModel required>
        <label class="form-check-label" for="flexCheckDefault">
          Acceptation CGU
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="check_majeur" name="check_majeur" ngModel required>
        <label class="form-check-label" for="flexCheckChecked">
          Je suis majeur
        </label>
    </div>
    <button type="submit" [disabled]="f.invalid">Enregistrer</button>
</form>

