<div class="service-client">
    <p class="blue">Service client</p>
    <p class="space">Tu n'as pas trouvé ton bonheur dans la FAQ et as besoin d'une autre information ?</p>
    <p class="space">E-mail: <a href="mailto:contact@tuyaubet.fr" class="">contact@tuyaubet.fr</a></p>
    <p class="space">Notre équipe te répond quotidiennement.</p>
  </div>
