<div class="margin"><h2>Mentions légales</h2>
<div>
    <p>
        Le site est exploité par la micro-entreprise Fabien Pocheron dont le nom commercial est
        TUYAUBET, immatriculée au RCS de Béziers sous le numéro SIREN 494573439. Le
        siège social (postal uniquement) se situe Port Brescou 2, 13 rue de la Gabelle - 34300 AGDE
    </p>
    <p>Directeur de la publication : Fabien POCHERON.</p>
    <p>
        Hébergeur : 1 &amp; 1 IONOS SARL. Siège social : 7 PL DE LA GARE, 57200
        SARREGUEMINES – France.
    </p>
    <p>Maintenance et réalisation du site : Tuk@.</p>
    <p>Nous contacter : <a href="mailto:contact@tuyaubet.fr" class="">contact@tuyaubet.fr</a></p>
</div>
</div>