.sousTitre{
    font-size: 17px;
    text-align: left;
    margin-top: 6vw;
    text-decoration: underline white;
}
@media (min-width: 719px){
    body{
        font-size: 17px;
    }
    .sousTitre{
        font-size: 2vw;
    }
}