<h2>Préambule</h2>
<div>
    <p> Les présentes Conditions d’Utilisation du Service sont conclues entre l’entreprise Fabien Pocheron
        avec pour nom commercial Tuyaubet (ci-après "Tuyaubet") et toute personne ayant la qualité
        d'utilisateur (ci-après).
    </p>
    <p>
        Elles s’appliquent au moment de l’envoi d’un supertuyau sur le Site Internet par un Utilisateur.
        L’Utilisateur déclare avoir pris connaissance des présentes CGU et les avoir acceptées en
        cochant la case prévue à cet effet.
    </p>
    <p>
        L’activité principale de l'entreprise est le recueil d’informations sportives significatives envoyées par
        l'utilisateur et portant sur un événement sportif futur.
    </p>
    <p>
        Le Service disponible sur le Site s’adresse exclusivement à des personnes physiques non
        commerçantes, n’agissant pas dans un cadre professionnel.
    </p>
    <p>
        Les jeux d’argent étant interdits aux mineurs, l’utilisateur reconnaît être majeur.
    </p>
    <p class="sousTitre">1. Définitions.</p>
    <p>
        <b>"Utilisateur"</b> : personne physique qui utilise le Service Tuyaubet pour envoyer des informations
        sportives significatives via le formulaire.
    </p>
    <p><b>"Service"</b> : prestation que met à disposition Tuyaubet.</p>

    <p><b>"Information sportive significative"</b> : donnée importante concernant un événement sportif à venir
        impactant l&#39;issue de ladite rencontre.
    </p>
    <p><b>"Supertuyau"</b> : Nouvelle information sportive significative complète et transmise par un Utilisateur au
        moins 90 minutes avant l’événement sportif avec un lien confirmant ses propos. Cette information fait
        que le bookmaker propose une cote inadaptée pour cet événement. L’ensemble de ces éléments
        justifie la récompense proposée par Tuyaubet.
    </p>
    <p><b>"Conditions d'Utilisation"</b> désigne le présent contrat.</p>

    <p class="sousTitre">2. Description du service.</p>
    <p>
        Tuyaubet propose le recueil d’informations sportives envoyées par l’Utilisateur. Ces informations
        sportives jugées significatives concernent un événement sportif à venir.
    </p>
    <p>
        Sur le Site www.tuyaubet.fr, l’utilisateur pourra envoyer aux administrateurs l’information sportive qu’il
        a dénichée. Il renseignera ainsi différents champs sportifs (sport en question, événement, arguments
        et liens confirmant les propos). Tuyaubet le recontactera par la suite grâce à l’adresse email qu’il aura
        également renseignée.
    </p>
    <p>
        Tuyaubet sera le seul décideur concernant la qualité de l’information.
    </p>
    <p>Les critères de validation d’un supertuyau sont :</p>
    <ul>
        <li>premier à transmettre l’information</li>
        <li>au moins 1h30 avant l’événement (les tuyaux de dernière minute seront tout de même étudiés dans la limite du possible)</li>
        <li>le tuyau est assez significatif et fait que la côte proposée par le bookmaker est totalement inadaptée
            (blessures, COVID, motivations opposées,
            erreurs de côtes…)</li>
        <li>l’information est complète avec un lien confirmant les dires de l’utilisateur</li>
        <li>Le tuyau concerne un évènement disponible sur un site agréé ARJEL</li>
    </ul>

    <p>L’utilisateur s’engage à utiliser ce Service en toute sincérité et avec intelligence et respect.</p>
    <p>
        Si Tuyaubet juge que le supertuyau envoyé respecte les critères énoncés ci-dessus, alors l’utilisateur
        sera éligible à une récompense de type freebet. Celui-ci sera utilisable chez notre partenaire agréé
        par l’ARJEL. Le montant du freebet sera compris entre 10 et 100€ et fonction de la qualité du
        supertuyau envoyé par l’Utilisateur. Seul Tuyaubet est à même de définir le montant du freebet
        potentiel.
    </p>
    <p class="sousTitre">3. Obligations de l'utilisateur</p>
    <p>L’Utilisateur s’engage à :</p>
    <ul>
        <li>respecter les termes des présentes</li>
        <li>fournir des informations sincères, complètes et exactes</li>
        <li>utiliser le Service de tuyaubet.fr conformément à son objet</li>
        <li>ne pas envoyer de fausses informations volontairement</li>
        <li>ne pas utiliser Tuyaubet pour l’envoi de courriels, de spams ou de toute publicité ou élément
            promotionnel non sollicités, que cela soit à des fins commerciales ou non</li>
        <li>ne pas télécharger vers le Site des fichiers comprenant des virus, des chevaux de Troie, des
            vers, des bombes logiques, des fichiers altérés ou tout autre logiciel ou code nuisible aux
            ordinateurs</li>
        <li>informer tuyaubet.fr s’il constate, sur le Site, la présence de contenus manifestement illicites.
            L’attention de l’Utilisateur est attirée sur le fait que toute notification abusive peut engager sa
            responsabilité et est notamment passible d’un emprisonnement d’un an et d’une amende de
            15 000 euros en vertu de l’article 6-I-4 de la loi n°2004-575</li>
        <li>respecter les règles de propriété du Site et de son contenu</li>
        <li>ne jamais tenter d’accéder aux systèmes d’informations et bases de données du Site</li>
        <li>ne jamais utiliser Tuyaubet.fr à travers un site miroir ou tout autre moyen que le Site lui-
            même</li>
    </ul>
    <p>
        Notamment en cas de non-respect des présentes mais aussi pour tout motif légitime, Tuyaubet.fr se
        réserve le droit bloquer le courriel de l’Utilisateur et ses éventuelles récompenses.
    </p>
    <p class="sousTitre">4. Durée du service et modification des CGU.</p>
    <p>
        Tuyaubet ne garantit pas la durée du service et se réserve le droit de l’interrompre et de l’arrêter à tout
        moment et ce, à son entière discrétion.<br>
        Tuyaubet se réserve le droit de compléter / modifier les présentes CGU de la façon qu’elle
        juge nécessaire. Il incombe à l’utilisateur de lire attentivement les CGU et de prendre
        pleinement connaissance des modifications engendrées par cette dernière.<br>
        Le fait que l’Utilisateur continue à utiliser le Service du site Tuyaubet après la mise à jour des
        CGU vaut acceptation sans réserve de sa part aux modifications apportées.
    </p>
    <p class="sousTitre">5. Limite de responsabilité. Exclusion de garantie.</p>
    <p>
        Tuyaubet ne pourra être responsable et exclue expressément toute responsabilité pour pertes ou
        dommages que vous auriez subi en raison de toute erreur, omission ou inexactitude concernant les
        contenus transmis ou pour toute interruption du fonctionnement du site.
    </p>
    <p>
        Toutes les informations diffusées sur ce site sont fournies uniquement à titre informatif.
        L’interprétation et l’utilisation de ces informations relèvent de la responsabilité individuelle.
    </p>
    <p class="sousTitre">6. Marque et contenu du site.</p>
    <p>
        La propriété de l’ensemble du contenu du Site, incluant sans limitation tout texte, donnée, son,
        images, visuels, graphiques, photos, agencement du Site, et tout autre contenu du Site ainsi que la
        sélection, l’organisation, la fonctionnalité, l’exécution et l’arrangement du contenu ou d’une partie du
        Contenu est, sauf indication contraire, exclusivement détenue par Fabien Pocheron.  Le nom
        commercial, les logos, les dessins et autres signes distinctifs ou caractères sont protégés au titre du
        droit de la propriété intellectuelle et ne sont susceptibles d’aucune utilisation sans notre autorisation
        préalable écrite.
    </p>
    <p>
        Vous ne devez pas modifier, copier, distribuer, transmettre, diffuser, afficher, reproduire, publier, créer
        des œuvres dérivées, créer des liens hypertextes, reproduire, transférer ou céder l’une quelconque
        des informations, du contenu et du service accessible à partir du Site. L’ensemble des droits de
        propriété intellectuelle du site sont protégés à ce titre. Si vous souhaitez davantage d’information sur
        ce qui est autorisé d’utiliser ou de reproduire, sur la possibilité de créer un lien hypertexte vers le Site
        ou vers le Contenu, nous vous prions de nous en avertir et de solliciter une autorisation par courriel.
        Vous ne devez pas tenter d’accéder à nos systèmes d’informations ou à nos bases de données sans
        autorisation.
    </p>
    <p class="sousTitre">7. Loi applicable et règlements des litiges.</p>
    <p>
        Les présentes CGU sont soumises à la loi française.<br>
        En cas de différend et avant d’engager toute procédure, le Membre s’engage à contacter
        directement Tuyaubet par écrit afin de tenter de résoudre tout litige à l’amiable.
        En cas d’échec, l’Utilisateur est informé qu’il peut choisir d’avoir recours gratuitement à la
        médiation et peut présenter ses réclamations éventuelles sur la plateforme de résolution des
        litiges mise en ligne par la Commission Européenne à l’adresse suivante
        : http://ec.europa.eu/consumers/odr/.<br>
        Toute contestation ou litige relatif à la formation, l’interprétation, l’exécution ou la fin des
        présentes ou en relation avec les présentes CGU qui n’aurait pu être résolu amiablement sera
        soumis aux Tribunaux compétents de Béziers.
    </p>
    <p class="sousTitre">8. Données personnelles.</p>
    <p>
        L’utilisateur dispose à tout moment, d'un droit d'accès, de rectification et de suppression des données
        à caractère personnel le concernant par l'envoi d'un courriel à l'adresse : contact@tuyaubet.fr.
        L’information collectée (courriel) est nécessaire aux fonctionnalités du service.
    </p>
    <p class="sousTitre">9. Dépendance et paris sportifs en ligne.</p>
    <p>
        Il est rappelé que le service proposé sur www.tuyaubet.fr est un service d’information sportive. En
        aucun cas, nous ne proposons un service de jeux d'argent en ligne. Nous rappelons que les jeux
        d'argent et de hasard sont interdits aux mineurs en France conformément à la loi 2010-476 du 12 mai
        2010 relative à l'ouverture à la concurrence et à la régulation du secteur des jeux d'argent et de
        hasard en ligne.<br>
        La dépendance aux jeux d'argent et de hasard est un problème très sérieux.<br>
        Si vous êtes concerné, vous pouvez contacter :
    </p>
    <ul>
        <li>SOS Joueurs au 09 69 39 55 12 ou sur https://www.sosjoueurs.org/</li>
        <li>Joueurs Info Service au 09 74 75 13 13 ou sur www.joueurs-info-service.fr/</li>
    </ul>
</div>