<div class="container">
  <div class="icon-header">
    <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu" [checked]="check" (change)="burger($event)">
    <label for="openSidebarMenu" class="sidebarIconToggle">
      <div class="spinner diagonal part-1"></div>
      <div class="spinner horizontal"></div>
      <div class="spinner diagonal part-2"></div>
    </label>
    <div id="sidebarMenu" *ngIf="isShow">
      <div class="main-content-wrapper">
        <a routerLink="accueil">Accueil</a>
        <a routerLink="info"><input type="checkbox" class="menu" id="menu">Supertuyau</a>
        <!-- <a routerLink="abonnement">abonnements</a> -->
        <a routerLink="pourquoi">FAQ</a>
        <a routerLink="contact">Contact</a>
        <!-- <a routerLink="auth">Connexion</a> -->
      </div>
    </div>
  </div>

  <!-- <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav" id="collapse-1">
      <li><a routerLink="info">Formulaire</a></li>
      <li><a routerLink="office">Office</a></li>
      <li><a routerLink="abonnement">abonnements</a></li>
      <li><a routerLink="accueil">Accueil</a></li>
      <li><a routerLink="pourquoi">FAQ</a></li>
      <li><a routerLink="#">Contact</a></li>
      <li><a routerLink="auth">Connexion</a></li>
    </ul>
  </div> -->
  <router-outlet></router-outlet>
</div>