<p>Utilisateurs</p>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>id</th>
                <th>email</th>
                <th>pseudo</th>
                <th>mdp</th>
                <th>abonné</th>
                <th>supprimer</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of usersFromdb; index as no">
                <td>{{user.id}}</td>
                <td>{{user.email_utilisateur}}</td>
                <td>{{user.pseudo_utilisateur}}</td>
                <td>{{user.mdp_utilisateur}}</td>
                <td></td>
                <td><button class="bnt btn-danger" (click)="onDelete(no)">supprimer</button></td>
            </tr>

        </tbody>
    </table>
</div>
<p>Ecrire à l'utilisateur</p>

<textarea></textarea>

<!-- <br><button type="button" (click)="mailToUsers()">Envoyer à tous</button> -->


<p>Phrase pour le champion</p>

<p>Historique des bets</p>

<p>FAQ</p>

<p>Tarif abonnement</p>