body {
    background-color: black;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    text-align: center;
}
h2 {
    font-size: 16px;
    color: #5ce1e6;
    margin-bottom: 20px;
}
a {
    color: white;
    text-decoration: none;
    :hover {
        color:white
    }
}
input {
    max-width: 50vw;
    max-height: 6vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    margin-bottom: 5px;
}
button {
    background-color: #5ce1e6 ;
    color: black;
    margin-top: 10px;
    margin-bottom: 50px;
}
textarea {
    max-width: 50vw;
    margin-right: auto;
    margin-left: auto;
}

select {
    color: black;
    font-family: poppins;
    font-size: 16px;
    border-radius: 4px;
    max-width: 45vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
    text-align-last: center; 
}

.blue {
    color: #5ce1e6;
}
p {
    text-align: left;
}
.user-icon {
    color: #fff;
    cursor: pointer;
}
.icon-header {
    display: flex;
    justify-content: space-between;
}
li{
    text-align: left;
}

@media (min-width: 719px) {
    body{
        font-size: 27px;
    }
    h2{
        font-size: 30px;
        margin-top: 7vw;
        margin-bottom: 7vw;
    }
    .blue{
        margin-bottom: 7vw;
    }
}