<div class="top">
    <p>
    Un supertuyau est une INFORMATION CAPITALE concernant un événement sportif à venir qui fait que la côte proposée par
    les bookmakers est (très) inadaptée.
</p>
<p>
    Ex : une équipe de basket féminin (effectif restreint) dont les 3 meilleures joueuses
    sont absentes,
    ROSTOV décimé par le COVID qui envoie les jeunes à Sotchi (10 à 1)
</p>
<p>
    Nous t'invitons à copier-coller un lien qui confirmera ton information.
</p>
<p>
    A réception, notre équipe d'experts validera ou non ton supertuyau selon nos <a (click)="redirectFAQ()"><span class="blue">critères</span></a>.
</p>
<p>
    En cas de validation, tu seras récompensé d'un freebet chez notre partenaire sous 7 jours.
</p>
<h2 class="formulaire">Mon supertuyau</h2>

<form (ngSubmit)="submitInfo(f)" #f="ngForm">
    <div>
        <label for="email_utilisateur" class="form-label">Ton email</label>
        <input type="email" class="form-control" id="email_utilisateur" name="email_utilisateur" placeholder="huggy@gmail.com" ngModel required email>
    </div>
    <div>
        <label for="sport_info" class="form-label">Sport</label>
        <input type="text" class="form-control" id="sport_info" name="sport_info" placeholder="Foot anglais" ngModel required>
    </div>

    <div>
        <label for="evenement" class="form-label">Evènement</label>
        <input type="text" class="form-control" id="evenement_info" name="evenement_info" placeholder="Arsenal - Liverpool" ngModel required>
    </div>
 
    <div class="form-floating">
        <label for="commentaire_info">Précise ton info</label>
        <textarea class="form-control" placeholder="Arguments" id="commentaire_info"
            name="commentaire_info" ngModel required></textarea>
    </div>
    <div class="last">
        <label for="lien" class="form-label">Lien</label>
        <input type="text" class="form-control" id="lien_info" name="lien_info" placeholder="Copie-colle ton lien"  ngModel>
    </div>

    <!-- CHECKBOX -->

    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="check_majeur" name="check_majeur" ngModel required>
        <label class="form-check-label" for="flexCheckChecked">
            Je certifie avoir plus de 18 ans.
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="check_email" name="check_email" ngModel required>
        <label class="form-check-label" for="flexCheckChecked">
            J'accepte que ces informations soient utilisées pour me recontacter*.
        </label>
    </div>
    <div></div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="check_CGU" name="check_CGU" ngModel required>
        <label class="form-check-label" for="flexCheckChecked">
            J'accepte les CGU.
        </label>
    </div>
    <button type="submit" [disabled]="f.invalid">Envoyer</button>

</form>

<p class="small">
    * Les données collectées via ce formulaire sont obligatoires. À défaut, le traitement de votre demande
    pourrait être retardé. Conformément aux dispositions relatives à la protection des données personnelles, les
    utilisateurs de ce formulaire sont informés qu'ils disposent d'un droit d'accès, de rectification, d'opposition et
    de suppression au traitement de leurs données. Ces droits s'exercent par courriel à l'adresse courriel : <a
        href="mailto:contact@tuyaubet.fr" class="">contact@tuyaubet.fr</a>
</p>
</div>