button:disabled {
    cursor:not-allowed;
    background-color: white;
    color: black;
}

button {
    transition-duration: 1s;
    color: white;
    border-radius: 4px;
    border: 2px solid #5ce1e6;
}

::placeholder {
    font-size: 16px;
}
.form-check {
    display: flex;
    align-items: normal;
    text-align: left;
    label{
        margin-left: 2vw;
        font-weight: normal;
        font-size: 14px;
    }
}
.top{
    margin-top: 12vw;
}
.last{
    margin-bottom: 15px;
}
textarea{
    margin-bottom: 5px;
}
.small{
    font-size: x-small;
}
.blue{
    color: #5ce1e6;
    text-decoration: none;
    cursor: pointer;
}

@media(max-width:568px) {
    input{
        max-width: 90vw;
    }
    #commentaire_info{
        min-width: 90vw;
        min-height: 25vw;
    }
}
@media(min-width:718px) {
    #commentaire_info{
        min-height: 10vw;
    }
}
@media(min-width:1100px) {
    #commentaire_info{
        min-height: 6vw;
    }
}