<div class="background">
  <div class="logo-ballons">
    <img src="../../assets/image/Tuyau.png" alt="tuyaubet">
  </div>
  <div class="logo">
    <img src="../../assets/image/logo tuyaubet.png" alt="tuyaubet" class="logo-tuyaubet">
  </div>

  <div class="div-accueil">
    <p><span style="color:#5ce1e6" class="info-capitale"><b>Le site qui récompense les INFORMATIONS CAPITALES dénichées par les parieurs :
        </b></span><br>
    <p class="erreurs"><span class="small-text">impasse ou motivations opposées, COVID,<br>blessure, équipe décimée,
      erreur de cotation...</span>
    </p>
  </div>
  <div class="div-accueil-mobile">
    <p><span style="color:#5ce1e6" class="info-capitale"><b>Le site qui récompense les INFORMATIONS CAPITALES dénichées par les parieurs :
        </b></span><br>
    <p class="erreurs"><span class="small-text">impasse ou motivations opposées,<br>COVID, blessure, équipe décimée,<br>
      erreur de cotation...</span>
    </p>
  </div>
  <div class="box_accueil">
    <p class="texte-accueil" (click)="redirectInfo()"><b>J'ai un supertuyau</b>.<br> Je le transmets au plus vite pour gagner un freebet de 10€ à 100€.
    </p>
    <!-- <fa-icon [icon]="circleRight" (click)="redirectInfo()"></fa-icon> -->
    <img src="../../assets/image/icons8-large-flèche-droite-48.png" (click)="redirectInfo()" alt="fleche-droite"
      class="fleche-droite">
  </div>
  <div>
    <p>Après ton envoi, le supertuyau est analysé par notre équipe. S'il respecte les<a (click)="redirectFAQ()"><span
          class="blue"> critères
          de validation</span></a>, tu seras récompensé par <b>un freebet chez notre partenaire</b>.</p>
  </div>
  <!-- <div class="box_accueil">
    <p>Je souhaite recevoir les meilleurs tuyaux pour parier avec la meilleure cote.</p>
    <fa-icon [icon]="circleRight" (click)="redirectAuth()"></fa-icon>
  </div> -->
  <div>
    <h2 (click)="showTuyaux()" class="exemple">Exemples de supertuyaux<img src="../../assets/image/icons8-trophée-64.png" alt="trophée"
        class="trophee">
    </h2>
    <div *ngIf="!isShow">
      <p>
        <span class="blue">Le tuyau</span> foot : Rostov a dû placer toute son équipe première en quarantaine après le
        dépistage positif au coronavirus de six
        joueurs.
        Si le match est maintenu, Rostov devra donc envoyer son équipe B ou ses jeunes ou perdra sur tapis vert (source
        l'Equipe chrono)
      </p>
      <p class="resultat">Sotchi - Rostov : 10-1 <img src="../../assets/image/icons8-check-mark-48.png" alt="check mark"
          class="check-mark"></p>
      <!-- <p><img src="../../assets/image/sotchi1.PNG" alt="paris sotchi" class="img-bet"></p> -->
      <p>
        <span class="blue">Le tuyau</span> basket : Charleville décimé à l’intérieur.
        Les Flammes Carolos seront privées de Sy-Diop, Akhator, Diallo et Miyem.
        Au point d’avoir demandé un forfait (source Bebasket)
      <p class="resultat">ASVEL - Charleville : 121 - 93 <img src="../../assets/image/icons8-check-mark-48.png" alt="check mark"
          class="check-mark"></p>

      <p>
        <span class="blue">Le tuyau</span> rugby : le SU Agen privé de nombreux cadres à l'approche de sa rencontre face
        à
        Castres.
        L’équipe agenaise qui sera alignée à Castres sera extrêmement jeune, privée de nombreux joueurs cadres.
        (source : ladepeche.fr)
      </p>
      <p class="resultat">Castres - Agen : 39-23 <img src="../../assets/image/icons8-check-mark-48.png" alt="check mark"
          class="check-mark"><span class="CO">Rouge pour le CO 2ème min (!)</span></p>

    </div>
  </div>
  <!-- carousel tuyauteurs recompenses -->

  <div class="fb">
    <a href="https://m.facebook.com/Tuyaubet-105665514893367" target="_blank"><img
        src="../../assets/image/Le-logo-Facebook.png" alt="facebook tuyaubet" class="facebook"></a>
    <p>Rejoins-nous sur Facebook : <br>des supertuyaux et des freebets à gagner.</p>
  </div>
  <div>
    <a href="http://www.joueurs-info-service.fr/" target="_blank"><img
        src="../../assets/image/messages_arjel_1014_v01.gif" alt="prévention arjel" class="arjel"></a>
  </div>
  <div>
    <p class="mentions"><a (click)="redirectCGU()">CGU </a><a (click)="redirectMentions()">Mentions légales </a><a
        (click)="redirectContact()">Contact</a></p>
    <p class="mentions">Site réalisé sportivement par Tuk@.</p>
  </div>

</div>