.box_accueil {
   border: solid;
   border-width: medium;
   border-color: #5ce1e6;
   margin-left: auto;
   margin-right: auto;
   max-width: 58vw;
   text-align: center;
   margin-top: 7vw;
   margin-bottom: 7vw;
}
.div-accueil{
    margin-top: 7vw;
}
.div-accueil-mobile{
    margin-top: 5vw;
}
.erreur{
    text-align: right; 
}
.title {
    display: flex;
    justify-content: center;
}

fa-icon {
    color: #5ce1e6;
}
.fleche-droite{
    margin-bottom: 15px;
    cursor: pointer;
    
}

.facebook { 
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    max-width: 14vw;
    margin-bottom: 2vh;

}
.fb{
    display: flex;
    font-size: 13px;
    margin-bottom: 20px;
    p{
        margin-left:10px;
        margin-top: 5px;
    }
}
    
.arjel {
    max-width: 90vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2vh;
}

a:hover{
    cursor: pointer;
    text-decoration: none;
    color: white;
}


.small-text {
    font-size: 1.4rem;
}

.blue {
    color: #5ce1e6;
}

img {
    max-width: 100%;
}

.check-mark {
    width: 6vw ;

}
.trophee{
    width: 6vw;
    height: 6vw;
    margin-left: 5px
}
.tuka {
    font-size: x-small;
    text-align: center;
}
.fusee{
    width: 4vw;
    height: 4vw;
}
.texte-accueil{
    text-align: center; 
    margin-top: 15px;
    :hover{
        cursor: pointer;
    }
}
.CO{
    font-style: italic;
    font-size: xx-small;
}
.mentions{
    text-align: center;
    font-size: x-small;
}
.background{
 
    margin-top: 12vw;
}
.logo-ballons{
    margin-left: 2vw;

}
.castres{
    display: flex;
}
.exemple{
    cursor: pointer;
}
@media(max-width:568px) {
    .box_accueil{
        max-width: 54vw;
    }
    .facebook{
        margin-top: 4vw;
        max-width: 17vw;
    }
    .info-capitale{
        font-size: 2rem;
    }
    .fb{
        font-size: 16px;
    }
    .div-accueil{
        display:none;
    }
    .div-accueil-mobile{
        display: show;
    }
}
@media(max-width:718px) {
    .logo{
        display: none;
    }
    .background{
        background-image: none;
    }
}
@media (min-width: 719px) {
    .div-accueil-mobile{
        display: none;
    }
    .CO{
        font-size: small;
    }
    .box_accueil{
        max-width: 42vw;
    }
    .body{
        font-size: 27px;
    }
    .small-text{
        font-size: 3.2rem;
    }
    .facebook{
        max-width: 7vw;
    }
    .fb{
        font-size: inherit;
        margin-bottom: 7vw;
    }
    .mentions{
        font-size: small;
    }
    .arjel{
        max-width: 52vw;
    }
    .logo{
        display: none;
    }
    .logo-ballons{
    display: block;    
    }
    .background{
        background-image: none;
        margin-top: 7vw;
    }
    .erreurs{
        text-align: right;
    }
    .resultat{
        margin-bottom: 3vw;
    }
    .info-capitale{
        font-size: 3.3vw;
    }
}
