<p>
  Grâce à l'abonnement, tu bénéficieras des <span class="blue">meilleurs tuyaux</span> dénichés par nos experts et par les autres tuyauteurs.
Tu recevras (par email) ces informations <span class="blue">le plus rapidement possible </span> pour parier avec la <span class="blue">meilleure cote</span>.
</p>
<p>Contrairement aux sites de pronostics habituels, Tuyaubet ne s'engage pas sur un nombre de tuyaux quotidiens, hedbo ou autres... 
L'objectif ici est de gagner via des paris à très forte probabilité.
</p>
<p>abonnement 3 mois</p>
<button id="checkout-button">payer 59,90€</button><br>

<p>abonnement 6 mois</p>
<button >payer 89,90€</button><br>

<p>abonnement 12 mois</p>
<button >payer 129,90€</button><br>

<p>
  Le prix d'abonnement à Tuyaubet est amené à augmenter dans les prochaines semaines. Pourquoi ?
</p>
<ul>
  <li>
    pour conserver un nombre d'adhérents permettant à chacun de parier à la meilleure cote.
  </li>
  <li>
    pour mieux récompenser nos tuyauteurs.
  </li>
</ul>

<fa-icon [icon]="lock"></fa-icon>
<p>Paiement sécurisé par Stripe. <a href="/" class=""></a>En savoir plus</p>
